.compile-window {
    display: absolute;
    position: absolute;
    top: 0;
    left: 0;
    width: 99.99%;
    height: 651px;
    margin: 62px 0 0 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
    overflow: hidden;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compile-window_frame {
    background-color: #cdcdcd;
    width: 90%;
    height: 80%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.compile-label {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.compile-textbox {
    width: 90%;
    height: 80%;
    background-color: #fff;
    overflow: scroll;
    padding: 10px;
    white-space: pre-line;
    border-radius: 5px;
}

.compile-button_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.compile-button {
    margin: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: medium;
    height: 35px;
    padding: 8px;
    cursor: pointer;
}